<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header></header>
    <h1>Fazbook</h1>
    <a href="/users/new">edit user</a>
    <% users.forEach(function(user){ %>
      <div>
      <span><a href="/users/id"><%= user.firstName %></a></span>


      <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
        <input type="submit" value="X">

      </form>
      </div>
    <% }) %>

  </body>
</html>
