<!doctype html>
<html>
 <head>
   <title>Form</title>

 </head>
  <body>

  <form action="/users" method="POST">
      <label >
      Email:
        <input type="text" name="email" >
      </label>
      First name:
      <label>
        <input type="text" name="firstName">
      </label>
      Last name:
      <label>
        <input type="text"  name="lastName">
      </label>

      <label>
      Date of birth:
        <input type="date" name="dob">
      </label>

      <input type="submit" value="Submit">

  </form>


  </body>
</html>
