<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div>
        <span><a href="/users/id"><%= user.lastName %></a></span>
        <span><a href="/users/id"><%= user.email %></a></span>
        <span><a href="/users/id"><%= user.dob %></a></span>
    </div>
  </body>
</html>
