<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div>
    <a href="/users/id/edit">Edit</a>
        <span><a href="/users/id"><%= user.lastName %></a></span>
        <span><a href="/users/id"><%= user.email %></a></span>
        <span><a href="/users/id"><%= user.dob %></a></span>
    </div>
  </body>
</html>
